/*
Error: Undefined variable: "$hsk1".
        on line 313 of ./public/stylesheets/sass/custom/timeline.scss

308:                     width: 100%;
309:                     filter: grayscale(100%);
310:                 }
311:             }
312: 
313:             &--step1 { background-color: $hsk1; .head::after { border-color: $hsk1 }}
314:             &--step2 { background-color: $hsk2; .head::after { border-color: $hsk2 }}
315:             &--step3 { background-color: $hsk3; .head::after { border-color: $hsk3 }}
316:             &--step4 { background-color: $hsk4; .head::after { border-color: $hsk4 }}
317:             &--step5 { background-color: $hsk5; .head::after { border-color: $hsk5 }}
318:             &--step6 { background-color: $hsk6; .head::after { border-color: $hsk6 }}

Backtrace:
./public/stylesheets/sass/custom/timeline.scss:313
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/script/tree/variable.rb:49:in `_perform'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/script/tree/node.rb:50:in `perform'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:398:in `visit_prop'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block (2 levels) in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `map'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:440:in `block in visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:438:in `visit_rule'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:135:in `with_frame'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/stack.rb:79:in `with_base'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:158:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:157:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/visitors/perform.rb:10:in `visit'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:54:in `check_for_updates'
/usr/local/rvm/gems/ruby-2.7.0/gems/sass-3.7.4/lib/sass/plugin/rack.rb:51:in `call'
/usr/local/rvm/gems/ruby-2.7.0/gems/puma-4.3.5/lib/puma/configuration.rb:228:in `call'
/usr/local/rvm/gems/ruby-2.7.0/gems/puma-4.3.5/lib/puma/server.rb:713:in `handle_request'
/usr/local/rvm/gems/ruby-2.7.0/gems/puma-4.3.5/lib/puma/server.rb:472:in `process_client'
/usr/local/rvm/gems/ruby-2.7.0/gems/puma-4.3.5/lib/puma/server.rb:328:in `block in run'
/usr/local/rvm/gems/ruby-2.7.0/gems/puma-4.3.5/lib/puma/thread_pool.rb:134:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$hsk1\".\A         on line 313 of ./public/stylesheets/sass/custom/timeline.scss\A \A 308:                     width: 100%;\A 309:                     filter: grayscale(100%);\A 310:                 }\A 311:             }\A 312: \A 313:             &--step1 { background-color: $hsk1; .head::after { border-color: $hsk1 }}\A 314:             &--step2 { background-color: $hsk2; .head::after { border-color: $hsk2 }}\A 315:             &--step3 { background-color: $hsk3; .head::after { border-color: $hsk3 }}\A 316:             &--step4 { background-color: $hsk4; .head::after { border-color: $hsk4 }}\A 317:             &--step5 { background-color: $hsk5; .head::after { border-color: $hsk5 }}\A 318:             &--step6 { background-color: $hsk6; .head::after { border-color: $hsk6 }}"; }
